body{
  background-image:url("ocean.jpg");
  font-family: 'Cormorant Garamond', serif;
  color:#084869;

  
}

html{
  scroll-behavior:smooth;


}
#hotelbox{
  width:100%;
  height:13%;
  font-size:80px;
  padding:0;
  text-align:center;
  margin:0;
  margin-top:3%;
  -webkit-text-stroke: 2px midnightblue;
  
}
hr{
  margin-bottom:5%;
  border-color:midnightblue;
  width:80%;
  margin:0;
  margin-left:auto;
  margin-right:auto;
  height:0.3%;
  background-color:midnightblue;

  
  
  
  
  
}
h1{
  text-align:center;
  font-size:40px;
  color:#58fcf4;

}
#hotel1{
  text-align:center;
  font-size:35px;
  margin-top:5%;
  color:#58fcf4;
  -webkit-text-stroke: .9px midnightblue ;

}
img{
  width:100%;
  height:100%;
  
}
button{
  font-family: 'Cormorant Garamond', serif;
  font-size:15px;
  color:#020b24;
  font-weight:bold;
  border-radius:6px;
  box-shadow:none;
  border-style:solid;
  background-color:#d4fbfc;
  border-color:#020b24;
  border-width:thin;
}
input{
  font-family: 'Cormorant Garamond', serif;
    background:transparent;
    color:black;
    font-size:15px;
}


#smoothButton{
  width:100%;
  height:100%;
  font-size:33px;
  border-radius:12px;
  color:#58fcf4;
  -webkit-text-stroke: .8px midnightblue;
  
 
  border-style:none;
  
}
#smoothButton:hover{
  background-color:#aac4f0;
  color:;
}

#smoothbox{
  width:25%;
  height:10%;
  margin-top:5%;
  margin-left:37%;
  position:absolute;
  border-radius:12px;
  
}
#user1{
  width:100%;
}
#remove{
  width:10%;
  border-color:#084869;
  border-radius:6px;
  font-weight:bold;
}
#user2{
  width:100%;
}
#remove2{
  width:10%;
  border-color:#084869;
  border-radius:6px;
  font-weight:bold;

}
#user3{
  width:100%;
}
#remove3{
  width:10%;
  border-color:#084869;
  border-radius:6px;
  font-weight:bold;
  
}

#user4{
  width:100%;
}
#remove4{
  width:10%;
  border-color:#084869;
  border-radius:6px;
  font-weight:bold;

}

#user5{
  width:100%;
}
#remove5{
  width:10%;
  border-color:#084869;
  border-radius:6px;
    font-weight:bold;

}

#user6{
  width:100%;
}
#remove6{
  width:10%;
  border-color:#084869;
  border-radius:6px;
    font-weight:bold;

}


#remall{
  width:100%;
}
#cle{
  width:100%;
}
#rem{
  width:100%;
}
#enter{
  width:100%;
  height:4%;
}
#cle2{
  width:100%;
}
#cle3{
  width:100%;
}
#cle4{
  width:100%;
}
#cle5{
  width:100%;
}
#cle6{
  width:100%;
}



#first{
      border-style:solid;
      
      width:20%;
      position:absolute;
      margin-top:1%;
      border-radius:6px;
      overflow:hidden;
      
    }
::placeholder{
  font-family: 'Cormorant Garamond', serif;
  color:black;
}
  
    

#second{
      border-style:solid;
      width:20%;
      margin-left:20.5%;
      border-radius:6px;
      overflow:hidden;

      position:absolute;
      margin-top:1%;
      
    }
    
   
    
    
#third{
      border-style:solid;
      width:20%;
      margin-left:40.99%;
      position:absolute;
      margin-top:1%;
      border-radius:6px;
          overflow:hidden;

    }
  
    
#fourth{
      border-style:solid;
      width:20%;
      margin-top:31%;
      position:absolute;
      border-radius:6px;

    }
  
    
#fifth{
      border-style:solid;
      width:20%;
      position:absolute;
      margin-left:20.5%;
      margin-top:31%;
      border-radius:6px;
      overflow:hidden;


      
    }
  
   

#sixth{
      border-style:solid;
      width:20%;
      position:absolute;
      margin-left:40.99%;
      margin-top:31%;
      border-radius:6px;
      overflow:hidden;

    }
#whole{

  height:143%;
  
  width:62%;
  margin-left:18%;
  margin-top:45%;

}
    
#bottom{
  background-color:lightblue;
  height:10vh;
  color:black;
  position:absolute;
  text-align:center;
  width:99vw;
}
#totalGuests{
  border-style:solid;
  width:17%;
  position:absolute;
  font-weight:bold;
  margin-top:43%;
  border-radius:6px;
  font-size:75%;
  overflow:hidden;
  border-color:#084869;
  color:black;
  height:25%;
  overflow:auto;
  



}
#allgu{
  font-size:200%;
  -webkit-text-stroke: .4px blue;
  color:#58fcf4;
  text-align:center;
  margin-top:2%;
  
  
}

.li1{
  color:#020b24;
  font-weight:bold;
}
.li2{
  color:#020b24;
  font-weight:bold;
}
.li3{
  color:#020b24;
  font-weight:bold;
}
.li4{
  color:#020b24;
  font-weight:bold;
}
.li5{
  color:#020b24;
  font-weight:bold;
}
.li6{
  color:#020b24;
  font-weight:bold;
}
p{
  color:#020b24;
  font-weight:bold;
}
#title{
    -webkit-text-stroke: 1px blue;

}
#rem{
  width:88%;
}
